@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ArcaneNine";
  src: url("./assets/fonts/ArcaneNine.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%; /* Ensure both html and body fill the viewport */
  margin: 0; /* Remove default margin */
  background: linear-gradient(
    to bottom,
    #1e3a8a,
    #9333ea
  ); /* Match your background gradient */
  overflow: hidden; /* Disable scrollbars completely */
  overscroll-behavior: none; /* Prevent overscrolling on touch devices */
}

body {
  font-family: "ArcaneNine", sans-serif; /* Apply your custom font */
  overflow-y: auto; /* Enable vertical scrolling only for the body */
}